# Folders (relative to this .gitignore location)
data/
logs/
Dashboard/
config/
rough/

# Sensitive files
.env

# System files
.DS_Store
project/PIPELINE_FLOW_DOCUMENTATION.md
project/pipeline_main_updates.py